@import "tailwindcss";
@import "@radix-ui/themes/styles.css";



.sr-only {
  visibility: hidden;
}

.code-block {
  font-family:
  "Fira Code",
  "JetBrains Mono",
  "Cascadia Code",
  ui-monospace,
  SFMono-Regular,
  Menlo,
  Monaco,
  Consolas,
  "Liberation Mono",
  "Courier New",
  monospace;
;
  background: var(--color-panel-translucent);
  backdrop-filter: blur(6px);
  color: var(--color-text);
  padding: 1rem;
  border-radius: var(--radius-3);
  white-space: pre;
  overflow-x: auto;
  font-size: 0.9rem;
  line-height: 1.5;
  border: 1px solid var(--color-border);
}



body {
  margin: 0;
  min-height: 100vh;

  background-image: url("./assets/cat1.png");
  background-size: cover;        /* szerokość zawsze wypełnia, góra/dół może się uciąć */
  background-position: center;   /* wyśrodkowanie */
  background-repeat: no-repeat;
  background-attachment: fixed;  /* opcjonalnie: efekt "przyklejonego" tła */
}

.full-bg {
  min-height: 100vh;
  background-image: url("./assets/cat1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.fullscreen-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;    /* zachowuje szerokość, przycina górę/dół */
  object-position: center;
  display: block;
}

